@import './assets/style/variables';
@import './assets/style/mixins';
:root {
  font-family:'Montserrat', sans-serif;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {  


    margin: 0 auto;
    height: 100%;
    width: 100%; // Utilisation de 100% pour que le body prenne toute la largeur disponible


@media (max-width: 576px) {
    padding: 10px;
    width: auto;
  }
}

